.workspace-container {
  display: flex;
  font-family: roboto;
  height: 100%;
  width: calc(100% - 66px);
  // flex: 1;

  @media (max-width: 500px) {
    width: 400px;
    .more-actions {
      display: none;
    }
  }

  @media (min-width: 500px) {
    .main-title {
      font-size: 30px;
    }
  }
  .workspace {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    font-size: 1.25rem;
    font-family: roboto;
    width: 100%;

    header {
      margin-bottom: 5px;
    }
    .board-header {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      font-size: 20px;
      font-family: roboto;

      .no-border {
        border: none;
      }

      .input-section {
        margin-left: 2.7rem;
        color: #676879;
      }

      input {
        border: none;
        min-width: 350px;
        min-height: 20px;
      }

      a {
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
      }

      .board-title {
        font-weight: bolder;
        font-size: 30px;
        letter-spacing: 0px;
        // line-height: 32px;
      }
      .icon-activities,
      .icon-plus,
      .icon-invite {
        padding-right: 7px;
      }
    }
    .board-info {
      font-family: roboto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2px;
      margin-left: 1.4rem;

      .fas.fa-share-alt {
        font-weight: 400px;
        color: black;
      }
    }

    .more-actions {
      margin-right: 20px;
      margin-top: 4px;
      > * {
        font-size: 15px;
        &:hover {
          border-radius: 5px;
          background-color: #e6e9ef;
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        font-size: 15px;
        span {
          font-size: 15px;
        }
      }

      .btn-add-board {
        border-radius: 5px;
        // border: 1px solid #bec0c4;
        border: none;
        text-align: center;
        background-color: inherit;
        padding: 5px 15px;

        &:hover {
          background-color: #e6e9ef;
        }
      }
    }

    .add-board-btn {
      border: none;
      background-color: inherit;
      font-family: roboto;
    }

    .board-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-x: auto;
      overflow-y: scroll;
      width: 100%;
      font-family: roboto;
      border-inline-start: 1.875rem solid #fff;
    }
    .main-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: roboto;
      width: 98%;
      padding-top: 17px;
      padding-left: 24px;
      &:first-child {
        margin-inline: -0.6rem;
      }

      &:last-child {
        margin-inline: -0.6rem;
      }
    }
    .member-avatars {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: relative;
      padding: 10px;
      > * {
        margin-inline: -0.2rem;
      }

      &:hover {
        background-color: #e6e9ef;
        border-radius: 5px;
      }
    }
  }

  // .member-avatars {
  //   margin-right: 10px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: row;
  //   position: relative;
  // }

  .invite-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 50;
    width: 600px;
    border-radius: 10px;
    background-color: white;

    .invite-list {
      padding: 20px 30px;

      span {
        font: 24px roboto;
      }
      p {
        padding-top: 5px;
        font-size: 14px;
      }
      input {
        border: 1px solid rgba(0, 0, 0, 0.274);
        border-radius: 3px;
        padding: 10px;
        margin: 20px 0;
        width: 100%;
        outline: none;
      }

      li {
        cursor: pointer;
        padding: 15px;
        width: 100%;
        align-items: center;

        .user {
          align-items: center;
          gap: 10px;
          width: 85%;

          .memebr-img {
            border: 1px solid rgb(126, 126, 114);
          }

          span {
            font-size: 15px;
            font-weight: bold;
          }
        }

        .list-btn {
          & > * {
            font-size: 14px;
            padding-left: 20px;
            color: rgb(194, 194, 194);
          }

          .member {
            color: #341ff5;
          }
        }
      }
    }
  }

  .fade-leave-active {
    transition: opacity 0.3s;
  }
  .fade-enter-active {
    transition: opacity 0.3s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .login-gif {
    width: 200px;
  }
}
