.board-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 2.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    max-width: 94%;
    font-family: roboto;
    font-size: 12.6px;
    font-weight: 400;

    button {
        border: none;
        background-color: inherit;
        padding: 10px;
        border-radius: 5px;
    }
    button:hover {
        background-color: #c4c4c494;
    }

    .board-action-btns {
        display: flex;
        gap: 20px;
    }

    .share {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    el-dropdown {
        top: 265px;
        left: 271px;
        width: 200px;
        background-color: black;
    }

    .fas.fa-chevron-down {
        text-align: center;
        margin-top: 10px;
    }

    .icon-home {
        font-size: 10px;
        margin-inline: -0.3rem;
    }

    button {
        display: flex;
        // padding: 10px;
        gap: 7px;
    }
    // .icon-main-table, .icon-calender, .icon-calender, .icon-kanban{
    //     margin-left: 10px;

    // }
}

.board-btns {
    margin-top: 0.7rem;
}

