.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}
.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}

.db {
  border: 2px solid yellow;
}


.show{
  display: block;
}

.hide{
  display: none;
}