@font-face {
    font-family: 'sofia-pro';
    src: local('sofia-pro'),
    url(~@/styles/fonts/sofia-pro/Sofia-Pro-Regular.ttf) ;
}
@font-face {
    font-family: 'roboto';
    src: local('roboto'),
    url(~@/styles/fonts/roboto/Roboto-Regular.ttf) ;
}


@font-face {
    font-family: 'monday';
    src: local('monday'),
    url(~@/styles/fonts/monday/monday.woff) ;
}

// @font-face {
//     font-family: Opensans;
//     // src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
// }
// @font-face {
//     font-family: GreatVibes;
//     // src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
// }